@import '../../../styles/settings.scss';

.root {
  color: inherit;

  .icon {
    font-size: 3.2rem;
    width: 3.2rem;
    height: 3.2rem;
    line-height: 2;
    background-color: transparent;
    cursor: pointer;
    @include hover-animation;

    &:hover {
      color: $font-color-second;
      transform: scale(1.1);
    }
  }
}
