@import "settings.scss";

//@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra:wght@400;700&display=swap');


*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  background-color: $bg-dark;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 1px;
  padding-bottom: 1px;
  font-family: $font-first;
  font-size: 1.4rem;
  color: $font-light;
  font-weight: 400;
  line-height: 1.7;
  background-image: $linear-gradient-main;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

h1, h2 {
  font-family: 'Almendra', serif;
  font-weight: 400;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-family: 'Almendra', serif;
  font-size: 2.5rem;
  font-weight: 500;
}

h4 {
  font-size: 1.6rem;
}
