@import '../../../styles/settings.scss';

.root {
  padding: 30px 5% 30px;
  font-family: $font-second;
  font-size: 1.4rem;
  font-weight: 600;
  color: $font-dark;
  background-color: $font-color-first;

  display: flex;
  flex-wrap: wrap;

  .copyright, .socialIcons, .empty {
    display: flex;
    align-items: center;
  }

  .copyright {
    padding: 10px 0;
    flex: 2 1 0;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .empty {
    flex: 2 1 0;
    justify-content: flex-end;
  }

  .socialIcons {
    padding: 10px 0;
    flex: 1 1 0;
    justify-content: center;
  }
}


/* MEDIA QUERIES */

@media screen and (min-width: 340px) and (max-width: 700px) {
  .root {
    .copyright, .socialIcons, .empty {
      flex: 0 1 100%;
    }

    .socialIcons {
      order: -1;
    }

    .copyright {
      justify-content: center;
    }
  }
}
